.main
{
  text-align: center;
}
.box
{
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 3px solid #8a5353;
  line-height: 100px;
  background-color: antiquewhite;
}
.boxstyle
{
  display: inline-flex;
  flex-wrap: wrap;
  width: 400px;
  color: #f17979;
  font-size: 40px;
}
h1{
  color: #5f3e17;
}
button 
{
  color: #5f3e17;
  background-color: antiquewhite;
}
.site-container > * {
  flex: 1;
}